# Search and Filter DataFrames in PySpark HW

Now it's time to put what you've learn into action with a homework assignment!

In case you need it again, here is the link to the documentation for the full list available function in pyspark.sql.functions library:
http://spark.apache.org/docs/latest/api/python/pyspark.sql.html#module-pyspark.sql.functions


### First set up your Spark Session!
Alright so first things first, let's start up our pyspark instance.

In [31]:
from utils import Session
import pyspark

path = "Section2/lesson 17/"

In [29]:
session = Session("Lesson17")
spark = session.session
spark

## Read in the DataFrame for this Notebook

We will be continuing to use the fifa19.csv file for this notebook. Make sure that you are writting the correct path to the file.

In [32]:
fifa_19_df = spark.read.csv(
    path + "fifa19.csv",
    inferSchema = True,
    header = True
)

## About this dataframe

The **fifa19.csv** dataset includes a list of all the FIFA 2019 players and their attributes listed below: 

 - **General**: Age, Nationality, Overall, Potential, Club
 - **Metrics:** Value, Wage
 - **Player Descriptive:** Preferred Foot, International Reputation, Weak Foot, Skill Moves, Work Rate, Position, Jersey Number, Joined, Loaned From, Contract Valid Until, Height, Weight
 - **Possition:** LS, ST, RS, LW, LF, CF, RF, RW, LAM, CAM, RAM, LM, LCM, CM, RCM, RM, LWB, LDM, CDM, RDM, RWB, LB, LCB, CB, RCB, RB, 
 - **Other:** Crossing, Finishing, Heading, Accuracy, ShortPassing, Volleys, Dribbling, Curve, FKAccuracy, LongPassing, BallControl, Acceleration, SprintSpeed, Agility, Reactions, Balance, ShotPower, Jumping, Stamina, Strength, LongShots, Aggression, Interceptions, Positioning, Vision, Penalties, Composure, Marking, StandingTackle, SlidingTackle, GKDiving, GKHandling, GKKicking, GKPositioning, GKReflexes, and Release Clause.

**Source:** https://www.kaggle.com/karangadiya/fifa19

Use the .toPandas() method to view the first few lines of the dataset so we know what we are working with.

In [33]:
fifa_19_df.limit(10).toPandas()

,_c0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
0,0,158023,L. Messi,31,https://cdn.sofifa.org/players/4/19/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,94,94,FC Barcelona,...,96,33,28,26,6,11,15,14,8,€226.5M
1,1,20801,Cristiano Ronaldo,33,https://cdn.sofifa.org/players/4/19/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Juventus,...,95,28,31,23,7,11,15,14,11,€127.1M
2,2,190871,Neymar Jr,26,https://cdn.sofifa.org/players/4/19/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,93,Paris Saint-Germain,...,94,27,24,33,9,9,15,15,11,€228.1M
3,3,193080,De Gea,27,https://cdn.sofifa.org/players/4/19/193080.png,Spain,https://cdn.sofifa.org/flags/45.png,91,93,Manchester United,...,68,15,21,13,90,85,87,88,94,€138.6M
4,4,192985,K. De Bruyne,27,https://cdn.sofifa.org/players/4/19/192985.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,92,Manchester City,...,88,68,58,51,15,13,5,10,13,€196.4M
5,5,183277,E. Hazard,27,https://cdn.sofifa.org/players/4/19/183277.png,Belgium,https://cdn.sofifa.org/flags/7.png,91,91,Chelsea,...,91,34,27,22,11,12,6,8,8,€172.1M
6,6,177003,L. Modrić,32,https://cdn.sofifa.org/players/4/19/177003.png,Croatia,https://cdn.sofifa.org/flags/10.png,91,91,Real Madrid,...,84,60,76,73,13,9,7,14,9,€137.4M
7,7,176580,L. Suárez,31,https://cdn.sofifa.org/players/4/19/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,91,91,FC Barcelona,...,85,62,45,38,27,25,31,33,37,€164M
8,8,155862,Sergio Ramos,32,https://cdn.sofifa.org/players/4/19/155862.png,Spain,https://cdn.sofifa.org/flags/45.png,91,91,Real Madrid,...,82,87,92,91,11,8,9,7,11,€104.6M
9,9,200389,J. Oblak,25,https://cdn.sofifa.org/players/4/19/200389.png,Slovenia,https://cdn.sofifa.org/flags/44.png,90,93,Atlético Madrid,...,70,27,12,18,86,92,78,88,89,€144.5M

Now print the schema of the dataset so we can see the data types of all the varaibles.

In [37]:
print(fifa_19_df.printSchema())
print("_________________________")
print(fifa_19_df.show(10, False))

root
 |-- _c0: integer (nullable = true)
 |-- ID: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Photo: string (nullable = true)
 |-- Nationality: string (nullable = true)
 |-- Flag: string (nullable = true)
 |-- Overall: integer (nullable = true)
 |-- Potential: integer (nullable = true)
 |-- Club: string (nullable = true)
 |-- Club Logo: string (nullable = true)
 |-- Value: string (nullable = true)
 |-- Wage: string (nullable = true)
 |-- Special: integer (nullable = true)
 |-- Preferred Foot: string (nullable = true)
 |-- International Reputation: integer (nullable = true)
 |-- Weak Foot: integer (nullable = true)
 |-- Skill Moves: integer (nullable = true)
 |-- Work Rate: string (nullable = true)
 |-- Body Type: string (nullable = true)
 |-- Real Face: string (nullable = true)
 |-- Position: string (nullable = true)
 |-- Jersey Number: integer (nullable = true)
 |-- Joined: string (nullable = true)
 |-- Loaned From: string (nullable = true)
 |-- Contract Valid Until: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- LS: string (nullable = true)
 |-- ST: string (nullable = true)
 |-- RS: string (nullable = true)
 |-- LW: string (nullable = true)
 |-- LF: string (nullable = true)
 |-- CF: string (nullable = true)
 |-- RF: string (nullable = true)
 |-- RW: string (nullable = true)
 |-- LAM: string (nullable = true)
 |-- CAM: string (nullable = true)
 |-- RAM: string (nullable = true)
 |-- LM: string (nullable = true)
 |-- LCM: string (nullable = true)
 |-- CM: string (nullable = true)
 |-- RCM: string (nullable = true)
 |-- RM: string (nullable = true)
 |-- LWB: string (nullable = true)
 |-- LDM: string (nullable = true)
 |-- CDM: string (nullable = true)
 |-- RDM: string (nullable = true)
 |-- RWB: string (nullable = true)
 |-- LB: string (nullable = true)
 |-- LCB: string (nullable = true)
 |-- CB: string (nullable = true)
 |-- RCB: string (nullable = true)
 |-- RB: string (nullable = true)
 |-- Crossing: integer (nullable = true)
 |-- Finishing: integer (nullable = true)
 |-- HeadingAccuracy: integer (nullable = true)
 |-- ShortPassing: integer (nullable = true)
 |-- Volleys: integer (nullable = true)
 |-- Dribbling: integer (nullable = true)
 |-- Curve: integer (nullable = true)
 |-- FKAccuracy: integer (nullable = true)
 |-- LongPassing: integer (nullable = true)
 |-- BallControl: integer (nullable = true)
 |-- Acceleration: integer (nullable = true)
 |-- SprintSpeed: integer (nullable = true)
 |-- Agility: integer (nullable = true)
 |-- Reactions: integer (nullable = true)
 |-- Balance: integer (nullable = true)
 |-- ShotPower: integer (nullable = true)
 |-- Jumping: integer (nullable = true)
 |-- Stamina: integer (nullable = true)
 |-- Strength: integer (nullable = true)
 |-- LongShots: integer (nullable = true)
 |-- Aggression: integer (nullable = true)
 |-- Interceptions: integer (nullable = true)
 |-- Positioning: integer (nullable = true)
 |-- Vision: integer (nullable = true)
 |-- Penalties: integer (nullable = true)
 |-- Composure: integer (nullable = true)
 |-- Marking: integer (nullable = true)
 |-- StandingTackle: integer (nullable = true)
 |-- SlidingTackle: integer (nullable = true)
 |-- GKDiving: integer (nullable = true)
 |-- GKHandling: integer (nullable = true)
 |-- GKKicking: integer (nullable = true)
 |-- GKPositioning: integer (nullable = true)
 |-- GKReflexes: integer (nullable = true)
 |-- Release Clause: string (nullable = true)

None
_________________________
+---+------+-----------------+---+----------------------------------------------+-----------+-----------------------------------+-------+---------+-------------------+--------------------------------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|_c0|ID    |Name             |Age|Photo                                         |Nationality|Flag                               |Overall|Potential|Club               |Club Logo                                   |Value  |Wage |Special|Preferred Foot|International Reputation|Weak Foot|Skill Moves|Work Rate     |Body Type |Real Face|Position|Jersey Number|Joined      |Loaned From|Contract Valid Until|Height|Weight|LS  |ST  |RS  |LW  |LF  |CF  |RF  |RW  |LAM |CAM |RAM |LM  |LCM |CM  |RCM |RM  |LWB |LDM |CDM |RDM |RWB |LB  |LCB |CB  |RCB |RB  |Crossing|Finishing|HeadingAccuracy|ShortPassing|Volleys|Dribbling|Curve|FKAccuracy|LongPassing|BallControl|Acceleration|SprintSpeed|Agility|Reactions|Balance|ShotPower|Jumping|Stamina|Strength|LongShots|Aggression|Interceptions|Positioning|Vision|Penalties|Composure|Marking|StandingTackle|SlidingTackle|GKDiving|GKHandling|GKKicking|GKPositioning|GKReflexes|Release Clause|
+---+------+-----------------+---+----------------------------------------------+-----------+-----------------------------------+-------+---------+-------------------+--------------------------------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
|0  |158023|L. Messi         |31 |https://cdn.sofifa.org/players/4/19/158023.png|Argentina  |https://cdn.sofifa.org/flags/52.png|94     |94       |FC Barcelona       |https://cdn.sofifa.org/teams/2/light/241.png|€110.5M|€565K|2202   |Left          |5                       |4        |4          |Medium/ Medium|Messi     |Yes      |RF      |10           |Jul 1, 2004 |null       |2021                |5'7   |159lbs|88+2|88+2|88+2|92+2|93+2|93+2|93+2|92+2|93+2|93+2|93+2|91+2|84+2|84+2|84+2|91+2|64+2|61+2|61+2|61+2|64+2|59+2|47+2|47+2|47+2|59+2|84      |95       |70             |90          |86     |97       |93   |94        |87         |96         |91          |86         |91     |95       |95     |85       |68     |72     |59      |94       |48        |22           |94         |94    |75       |96       |33     |28            |26           |6       |11        |15       |14           |8         |€226.5M       |
|1  |20801 |Cristiano Ronaldo|33 |https://cdn.sofifa.org/players/4/19/20801.png |Portugal   |https://cdn.sofifa.org/flags/38.png|94     |94       |Juventus           |https://cdn.sofifa.org/teams/2/light/45.png |€77M   |€405K|2228   |Right         |5                       |4        |5          |High/ Low     |C. Ronaldo|Yes      |ST      |7            |Jul 10, 2018|null       |2022                |6'2   |183lbs|91+3|91+3|91+3|89+3|90+3|90+3|90+3|89+3|88+3|88+3|88+3|88+3|81+3|81+3|81+3|88+3|65+3|61+3|61+3|61+3|65+3|61+3|53+3|53+3|53+3|61+3|84      |94       |89             |81          |87     |88       |81   |76        |77         |94         |89          |91         |87     |96       |70     |95       |95     |88     |79      |93       |63        |29           |95         |82    |85       |95       |28     |31            |23           |7       |11        |15       |14           |11        |€127.1M       |
|2  |190871|Neymar Jr        |26 |https://cdn.sofifa.org/players/4/19/190871.png|Brazil     |https://cdn.sofifa.org/flags/54.png|92     |93       |Paris Saint-Germain|https://cdn.sofifa.org/teams/2/light/73.png |€118.5M|€290K|2143   |Right         |5                       |5        |5          |High/ Medium  |Neymar    |Yes      |LW      |10           |Aug 3, 2017 |null       |2022                |5'9   |150lbs|84+3|84+3|84+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|89+3|88+3|81+3|81+3|81+3|88+3|65+3|60+3|60+3|60+3|65+3|60+3|47+3|47+3|47+3|60+3|79      |87       |62             |84          |84     |96       |88   |87        |78         |95         |94          |90         |96     |94       |84     |80       |61     |81     |49      |82       |56        |36           |89         |87    |81       |94       |27     |24            |33           |9       |9         |15       |15           |11        |€228.1M       |
|3  |193080|De Gea           |27 |https://cdn.sofifa.org/players/4/19/193080.png|Spain      |https://cdn.sofifa.org/flags/45.png|91     |93       |Manchester United  |https://cdn.sofifa.org/teams/2/light/11.png |€72M   |€260K|1471   |Right         |4                       |3        |1          |Medium/ Medium|Lean      |Yes      |GK      |1            |Jul 1, 2011 |null       |2020                |6'4   |168lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|17      |13       |21             |50          |13     |18       |21   |19        |51         |42         |57          |58         |60     |90       |43     |31       |67     |43     |64      |12       |38        |30           |12         |68    |40       |68       |15     |21            |13           |90      |85        |87       |88           |94        |€138.6M       |
|4  |192985|K. De Bruyne     |27 |https://cdn.sofifa.org/players/4/19/192985.png|Belgium    |https://cdn.sofifa.org/flags/7.png |91     |92       |Manchester City    |https://cdn.sofifa.org/teams/2/light/10.png |€102M  |€355K|2281   |Right         |4                       |5        |4          |High/ High    |Normal    |Yes      |RCM     |7            |Aug 30, 2015|null       |2023                |5'11  |154lbs|82+3|82+3|82+3|87+3|87+3|87+3|87+3|87+3|88+3|88+3|88+3|88+3|87+3|87+3|87+3|88+3|77+3|77+3|77+3|77+3|77+3|73+3|66+3|66+3|66+3|73+3|93      |82       |55             |92          |82     |86       |85   |83        |91         |91         |78          |76         |79     |91       |77     |91       |63     |90     |75      |91       |76        |61           |87         |94    |79       |88       |68     |58            |51           |15      |13        |5        |10           |13        |€196.4M       |
|5  |183277|E. Hazard        |27 |https://cdn.sofifa.org/players/4/19/183277.png|Belgium    |https://cdn.sofifa.org/flags/7.png |91     |91       |Chelsea            |https://cdn.sofifa.org/teams/2/light/5.png  |€93M   |€340K|2142   |Right         |4                       |4        |4          |High/ Medium  |Normal    |Yes      |LF      |10           |Jul 1, 2012 |null       |2020                |5'8   |163lbs|83+3|83+3|83+3|89+3|88+3|88+3|88+3|89+3|89+3|89+3|89+3|89+3|82+3|82+3|82+3|89+3|66+3|63+3|63+3|63+3|66+3|60+3|49+3|49+3|49+3|60+3|81      |84       |61             |89          |80     |95       |83   |79        |83         |94         |94          |88         |95     |90       |94     |82       |56     |83     |66      |80       |54        |41           |87         |89    |86       |91       |34     |27            |22           |11      |12        |6        |8            |8         |€172.1M       |
|6  |177003|L. Modrić        |32 |https://cdn.sofifa.org/players/4/19/177003.png|Croatia    |https://cdn.sofifa.org/flags/10.png|91     |91       |Real Madrid        |https://cdn.sofifa.org/teams/2/light/243.png|€67M   |€420K|2280   |Right         |4                       |4        |4          |High/ High    |Lean      |Yes      |RCM     |10           |Aug 1, 2012 |null       |2020                |5'8   |146lbs|77+3|77+3|77+3|85+3|84+3|84+3|84+3|85+3|87+3|87+3|87+3|86+3|88+3|88+3|88+3|86+3|82+3|81+3|81+3|81+3|82+3|79+3|71+3|71+3|71+3|79+3|86      |72       |55             |93          |76     |90       |85   |78        |88         |93         |80          |72         |93     |90       |94     |79       |68     |89     |58      |82       |62        |83           |79         |92    |82       |84       |60     |76            |73           |13      |9         |7        |14           |9         |€137.4M       |
|7  |176580|L. Suárez        |31 |https://cdn.sofifa.org/players/4/19/176580.png|Uruguay    |https://cdn.sofifa.org/flags/60.png|91     |91       |FC Barcelona       |https://cdn.sofifa.org/teams/2/light/241.png|€80M   |€455K|2346   |Right         |5                       |4        |3          |High/ Medium  |Normal    |Yes      |RS      |9            |Jul 11, 2014|null       |2021                |6'0   |190lbs|87+5|87+5|87+5|86+5|87+5|87+5|87+5|86+5|85+5|85+5|85+5|84+5|79+5|79+5|79+5|84+5|69+5|68+5|68+5|68+5|69+5|66+5|63+5|63+5|63+5|66+5|77      |93       |77             |82          |88     |87       |86   |84        |64         |90         |86          |75         |82     |92       |83     |86       |69     |90     |83      |85       |87        |41           |92         |84    |85       |85       |62     |45            |38           |27      |25        |31       |33           |37        |€164M         |
|8  |155862|Sergio Ramos     |32 |https://cdn.sofifa.org/players/4/19/155862.png|Spain      |https://cdn.sofifa.org/flags/45.png|91     |91       |Real Madrid        |https://cdn.sofifa.org/teams/2/light/243.png|€51M   |€380K|2201   |Right         |4                       |3        |3          |High/ Medium  |Normal    |Yes      |RCB     |15           |Aug 1, 2005 |null       |2020                |6'0   |181lbs|73+3|73+3|73+3|70+3|71+3|71+3|71+3|70+3|71+3|71+3|71+3|72+3|75+3|75+3|75+3|72+3|81+3|84+3|84+3|84+3|81+3|84+3|87+3|87+3|87+3|84+3|66      |60       |91             |78          |66     |63       |74   |72        |77         |84         |76          |75         |78     |85       |66     |79       |93     |84     |83      |59       |88        |90           |60         |63    |75       |82       |87     |92            |91           |11      |8         |9        |7            |11        |€104.6M       |
|9  |200389|J. Oblak         |25 |https://cdn.sofifa.org/players/4/19/200389.png|Slovenia   |https://cdn.sofifa.org/flags/44.png|90     |93       |Atlético Madrid    |https://cdn.sofifa.org/teams/2/light/240.png|€68M   |€94K |1331   |Right         |3                       |3        |1          |Medium/ Medium|Normal    |Yes      |GK      |1            |Jul 16, 2014|null       |2021                |6'2   |192lbs|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|null|13      |11       |15             |29          |13     |12       |13   |14        |26         |16         |43          |60         |67     |86       |49     |22       |76     |41     |78      |12       |34        |19           |11         |70    |11       |70       |27     |12            |18           |86      |92        |78       |88           |89        |€144.5M       |
+---+------+-----------------+---+----------------------------------------------+-----------+-----------------------------------+-------+---------+-------------------+--------------------------------------------+-------+-----+-------+--------------+------------------------+---------+-----------+--------------+----------+---------+--------+-------------+------------+-----------+--------------------+------+------+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+----+--------+---------+---------------+------------+-------+---------+-----+----------+-----------+-----------+------------+-----------+-------+---------+-------+---------+-------+-------+--------+---------+----------+-------------+-----------+------+---------+---------+-------+--------------+-------------+--------+----------+---------+-------------+----------+--------------+
only showing top 10 rows

None

## Now let's get started!

### First things first..... import the pyspark sql functions library

Since we know we will be using it a lot.

In [36]:
from pyspark.sql.functions import *

### 1. Select the Name and Position of each player in the dataframe

In [39]:
fifa_19_df.select(["Name", "Position"]).limit(5).toPandas()

                Name Position
0           L. Messi       RF
1  Cristiano Ronaldo       ST
2          Neymar Jr       LW
3             De Gea       GK
4       K. De Bruyne      RCM

### 1.1 Display the same results from above sorted by the players names

In [41]:
fifa_19_df.select(["Name", "Position"])                 \
        .orderBy(fifa_19_df["Name"].asc())             \
        .limit(5)                                       \
        .toPandas()

            Name Position
0       A. Abang       ST
1  A. Abdellaoui       LB
2   A. Abdennour       CB
3        A. Abdi       CM
4  A. Abdu Jaber       ST

### 2. Select only the players who belong to a club begining with FC

In [43]:
fifa_19_df.select(
    ["Name", "Club"]
).where(
    fifa_19_df["Club"].like(f"FC%")
).orderBy(fifa_19_df["Club"].asc()).limit(5).toPandas()

            Name                   Club
0  N. Theuerkauf  1. FC Heidenheim 1846
1      R. Strauß  1. FC Heidenheim 1846
2      M. Wittek  1. FC Heidenheim 1846
3   S. Griesbeck  1. FC Heidenheim 1846
4     N. Dovedan  1. FC Heidenheim 1846

In [49]:
oldest = fifa_19_df.select(
    ["Name", "Age"]
).orderBy(fifa_19_df["Age"].desc()).collect()

### 3. Who is the oldest player in the dataset and how old are they?

Display only the name and age of the oldest player.

In [50]:
print(f"The oldest player is: {oldest[0][0]} with {oldest[0][1]} years old")

The oldest player is: O. Pérez with 45 years old

In [52]:
# Another way to do this

fifa_19_df.select("Name", "Age").sort(desc("Age")).show(1)

+--------+---+
|    Name|Age|
+--------+---+
|O. Pérez| 45|
+--------+---+
only showing top 1 row

### 4. Select only the following players from the dataframe:

 - L. Messi
 - Cristiano Ronaldo

In [51]:
fifa_19_df.select(
    ["Name", "Club"]
).where(
    fifa_19_df["Name"].isin("L. Messi", "Cristiano Ronaldo")
).toPandas()

                Name          Club
0           L. Messi  FC Barcelona
1  Cristiano Ronaldo      Juventus

### 5. Can you select the first character from the Release Clause variable which indicates the currency used?

In [54]:
fifa_19_df.select(
    "Name", "Release Clause", fifa_19_df["Release Clause"].substr(1,1).alias("Release Currency")
).show(5, False)

+-----------------+--------------+----------------+
|Name             |Release Clause|Release Currency|
+-----------------+--------------+----------------+
|L. Messi         |€226.5M       |€               |
|Cristiano Ronaldo|€127.1M       |€               |
|Neymar Jr        |€228.1M       |€               |
|De Gea           |€138.6M       |€               |
|K. De Bruyne     |€196.4M       |€               |
+-----------------+--------------+----------------+
only showing top 5 rows

### 6. Can you select only the players who are over the age of 40?

In [56]:
fifa_19_df.select("Name", "Age")                    \
            .where(fifa_19_df["Age"] > 40)          \
            .sort(fifa_19_df["Age"]. desc()).limit(10).toPandas()

            Name  Age
0       O. Pérez   45
1      T. Warner   44
2  K. Pilkington   44
3    S. Narazaki   42
4      J. Villar   41
5       B. Nivet   41
6       C. Muñoz   41
7   H. Sulaimani   41
8       M. Tyler   41

In [60]:
# Another way
fifa_19_df.select("Name", "Age").filter("Age>40")                 \
    .sort(fifa_19_df["Age"].desc())         \
    .limit(10).toPandas()

            Name  Age
0       O. Pérez   45
1      T. Warner   44
2  K. Pilkington   44
3    S. Narazaki   42
4      J. Villar   41
5       B. Nivet   41
6       C. Muñoz   41
7   H. Sulaimani   41
8       M. Tyler   41

### That's is for now... Great Job!